.card-background {
    background-color: #FFFFFF;
    border: 5px solid var(--border-color);
    border-radius: 20px;
    padding: 20px 50px;
    max-width: 900px;
    width: 100%;
    box-shadow: 8px 8px 0px var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-direction: column;
}