/* Info Section */
.info-section {
    background-color: #FF4500;
    /* Orange-Red background */
    padding: 20px 80px 0px 80px;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.info-container {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    gap: 0px;
    position: relative;
    z-index: 2;
}

.info-text {
    flex: 1;
    color: white;
    font-family: var(--font-main);
}

.info-text h2 {
    font-family: var(--font-main);
    font-size: 4rem;
    line-height: 1.1;
    margin-bottom: 20px;
    text-shadow: 3px 3px 0px #000;
    -webkit-text-stroke: 2px black;
    /* Optional: adds black outline if supported */
}

.info-text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: 300;
    /* Regular weight */
    text-transform: uppercase;
}

.info-image {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
}

.info-image img {
    max-width: 100%;
    height: auto;
    display: block;
    transform: translateX(50px);
    /* Move right to center section visually */
    /* transform: rotate(-5deg); */
    /* Optional tilt */
}


/* Responsive Info Section */
@media (max-width: 1000px) {
    .info-section {
        padding: 20px 20px 0px 20px;
    }

    .info-container {
        flex-direction: column;
        text-align: center;
    }

    .info-text h2 {
        font-size: 3rem;
    }

    .info-image img {
        max-width: 70%;
        height: auto;
        display: block;
        transform: translateX(0px);
    }
}

.info-section::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150%;
    height: 200%;
    background-image: url('../assets/mduck_face_circle.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.1;
    z-index: 1;
    pointer-events: none;
}